:root {
  --navyblue: #2e2f42;
  --white: #ffffff;
  --iris: #4d5ae5;
}

body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--navyblue);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.navigation-bar > ul > li > a:hover,
a:focus {
  background-color: var(--iris);
  color: var(--white);
}

.section-one {
  background-color: var(--navyblue);
  font-size: 16px;
  width: 1440px;
  height: 600px;
  flex-shrink: 0;
}

.section-one > h1 {
  color: var(--white);
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
}

.section-one > button {
  cursor: pointer;
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  background: var(--iris);
  color: var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.section-one > button:hover,
button:focus {
  background-color: var(--navyblue);
  color: var(--white);
}

.section-two > h3 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.section-two > p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.section-three > h2 {
  text-align: center;
  color: var(--navyblue);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.section-four > h2 {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.section-four > h3 {
  color: var(--navyblue);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.section-four > p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
}

footer {
  background-color: var(--navyblue);
  width: 1440px;
  height: 312px;
  flex-shrink: 0;
}

footer > p {
  color: var(--white);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
