:root {
  --navyblue: #2e2f42;
  --white: #ffffff;
  --iris: #4d5ae5;
  --cloud: #f4f4fd;
}

body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}

header a {
  text-decoration: none;
  color: var(--navyblue);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
}

.top-line {
  list-style-type: none;
}

address > ul {
  list-style-type: none;
  color: var(--navyblue);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

.navigation-bar > ul > li > a:hover,
a:focus {
  background-color: var(--iris);
  color: var(--white);
}

.section-one {
  background-color: var(--navyblue);
  fon-family: "Roboto", sans-serif;
}

.section-one h1 {
  color: var(--white);
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 56px;
  font-style: normal;
  line-height: 1;
}

.section-one > button {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  background: var(--iris);
  color: var(--white);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
}

button:hover,
button:focus {
  background-color: var(--navyblue);
  color: var(--white);
}

.section-two > .strategy {
  list-style-type: none;
}
.section-two h3 {
  font-family: "Roboto", sans-serif;
  color: var(--navyblue);
  font-size: 20px;
  font-style: normal;
  line-height: 1.5;
  font-weight: 500;
}

.section-two p {
  font-family: "Roboto", sans-serif;
  color: var(--navyblue);
  font-size: 16px;
  line-height: 1.5;
}

.section-three > .products {
  list-style-type: none;
}

.section-three h2 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: var(--navyblue);
  font-size: 36px;
  font-style: normal;
  line-height: 1;
}

.section-three h3 {
  font-family: "Roboto", sans-serif;
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
}

.section-three p {
  font-family: "Roboto", sans-serif;
  color: var(--navyblue);
  font-size: 16px;
  line-height: 1.5;
}

.section-four {
  background-color: var(--cloud);
}
.section-four > .team {
  list-style-type: none;
}

.section-four h2 {
  font-family: "Roboto", sans-serif;
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  line-height: 1;
  font-weight: 700;
}

.section-four h3 {
  font-family: "Roboto", sans-serif;
  color: var(--navyblue);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  line-height: 1.5px;
  font-weight: 500;
}

.section-four p {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
}

#button-one {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  background: var(--iris);
  color: var(--white);
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
}

#button-two,
#button-three,
#button-four,
#button-five {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  background: var(--cloud);
  color: var(--iris);
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
}

#button-one:hover,
#button-one:focus,
#button-two:hover,
#button-two:focus,
#button-three:hover,
#button-three:focus,
#button-four:hover,
#button-four:focus,
#button-five:hover,
#button-five:focus {
  background-color: var(--navyblue);
  color: var(--white);
}

footer {
  background-color: var(--navyblue);
}

footer p {
  font-family: "Roboto", sans-serif;
  color: var(--white);
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
}
