body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.section-one {
  background-color: #2e2f42;
  width: 1440px;
  height: 600px;
  flex-shrink: 0;
}

.section-one > h1 {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
}

.section-one > button {
  cursor: pointer;
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  background: #4d5ae5;
  color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.section-two > h3 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.section-two > p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.section-three > h2 {
  text-align: center;
  color: #2e2f42;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.section-four > h2 {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.section-four > h3 {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.section-four > p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
}

footer {
  background-color: #2e2f42;
  width: 1440px;
  height: 312px;
  flex-shrink: 0;
}

footer > p {
  color: #f4f4fd;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
